header {
  background: #5c5c6a url("assets/images/background.jpg") no-repeat scroll 50% 50%;
  height: 8em;
}

.ux-conference-2016-title {
  position: absolute;
  max-width: 60%;
  top: 4%;
  left: 21%;
}

.banner {
  height: 1em;
  background: #313137;
}

body {
  color: #797166;
  background: #f5f3f0;
  line-height: 1.2;
  font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  color: #5c626a;
  font-stretch: condensed;
}

.row {
  padding-left: 2em;
  padding-right: 2em;
}

.columns-talk-info {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
  height: 100%;
}

.columns-talk-info p {
  color: #5c626a;
}

.column-1-talk-info p {
  margin-top: 0;
  font-size: 1.2em;
}

.column-1-talk-info {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-width: 500px;
  -moz-column-width: 500px;
  -ms-column-width: 500px;
  column-width: 500px;
}

.column-2-talk-info {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}


ul {
  list-style-type: square;
  padding-left: 6px;
}

li {
  margin: 0.5em;
}

.box {
  background-color: #fff;
  border: 2px solid #ddd;
  margin-top: 1em;
  margin-bottom: 1em;
}

.box p {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

a {
  color: #c56c76;
}

.button {
  background-color: #c56c76;
  text-align: center;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
}

.button p {
  padding: 10px;
  color: #f5f3f0;
}

.first-row .row {
  -webkit-columns: 2 auto;
  -moz-columns: 2 auto;
  columns: 2 auto;
  padding-left: 0;
  padding-bottom: 1em;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  -ms-column-gap: 0;
  column-gap: 0;
  float: left;
}


h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h3 a {
  font-weight: normal;
}

.talk-description img {
  height: 120px;
  width: 120px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.talk-description p {
  width: 33%;
  min-width: 325px;
}
